;The install conf of openstack

[cnr]
;cnr 地址设置
uri = http://httpbin.org/post
soaptargeturi = http://myhost:8080/toCNR/{sourceWeb}/{uuid}
sendCountOnce = 10000
sleepSecAfterSend = 10
sendThreadCount = 10

[mongo]
ip = 114.112.103.33
port = 27017

[redis]
host = 114.112.103.33
port = 6379
db = 0

[xmly]
topn_key = XMLY_TOP_N
topn_table = XMLY_TOPN_TABLE

[db]
name = test_spider

[supervisor]
uri=http://user:123@114.112.103.33:9001
xmly_topn=xmly_topn
kl_topn=kl_topn
kl_full=kl
xmly_full=xmly
qt_topn=qt_topn
qt_full=qt

; 增量爬取的逻辑，所有增量爬取的实现逻辑都是全量爬取
qt_increment:qt
xmly_increment:xmly
kl_increment:kl
xmly_audio:xmly_audio
qt_audio:qt_audio
kl_audio:kl_audio

[collections]
xmly_album = xmly_album
xmly_category = xmly_category
xmly_audio = xmly_audio
kl_album = kl_album
kl_audio = kl_audio
kl_category = kl_category
qt_item = qt_item
qt_audio = qt_audio
crontab = crontab_result

[file]
template_path = ./m_interact/templates
static_path = ./m_interact/static

; 媒体文件下载的位置

[download]
xmly_audio = /Users/xiyuanbupt/sxs/m_interact/files
xmly_img = /Users/xiyuanbupt/sxs/m_interact/files

qt_audio = /Users/xiyuanbupt/sxs/m_interact/files
qt_img = /Users/xiyuanbupt/sxs/m_interact/files

kl_audio = /Users/xiyuanbupt/sxs/m_interact/files
kl_img = /Users/xiyuanbupt/sxs/m_interact/files

; 转码服务器的地址，程序使用scp将文件传到转码服务器,目前使用账号和密码登录
[transcoding]
host = 10.109.247.29
user = wxy
port = 22
password = jiaohuan
m4a_dir = crawler_m4a
jpg_dir = crawler_jpg
